<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is Products page</h1>
    <!-- <%= products[0].name %>
    <%= products[1].name %>
    <%= products[2].name %> -->
    <% for(let i of products){ %>
    <div>
        <p>product name - <%= i.name %> and price - <%= i.price %>
        <button><a href="/product/<%= i.id %>">to know more</a></button>
        </p>
    </div>
    <% } %>
</body>
</html>